$primary_blue: #477E80;
$primary_blue_hover: #3c6f71;
$primary_blue_click: #335e5f;
$secondary_blue: #82A2A2;
$secondary_hover: #cccccc;
$secondary_click: #bbbbbb;
$tertiary_blue: #E4ECEC;
$other_blue: #4C628C;