@use 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

footer {
  background-color: variables.$secondary_blue;
  width: 100vw;
  height: fit-content;
  padding: 1rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  & > p {
    margin: 0;
  }
}

h1 {
  text-align: center;
}

h2 {
  color: variables.$primary_blue;
  text-align: center;
}

//NAVBAR STYLING
.nav-container {
  z-index: 2;
  height: 78px;
  width: 100vw;
  background-color: variables.$primary_blue;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0px;
}

.nav-logo {
  padding-left: 1rem;
}

.nav-logo:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.nav-item {
  width: fit-content;
  transition: all .2s ease-in;
  padding: 5px 10px;
  color: #fff;
  margin: 0 1rem;
  // border: none;
  height: fit-content;
  align-content: center;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  &:hover, &:active, &.active {
    // text-decoration: underline solid #fff 2px;
    border-color: #fff;
  }
}

.mobile-nav {
  margin-bottom: 5px !important;
}

.dropdown-main {
  border: none;
  border-radius: 10px;
  align-items: center;
  padding: 10px 10px;
  color: #fff;
  margin: 0 1rem;
  height: fit-content;
  font-size: 14pt;
  font-family: inherit;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-item {
  list-style: none !important;
  margin: 0 !important;
  & > .active {
    font-weight: bold;
  }
}

.dropdown-item:nth-child(odd){
  border-bottom: 1px solid #cccccc;
}

.dropdown-item:nth-child(even){
  border-top: 1px solid #cccccc;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.imgContainer {
  flex-shrink: 1;
}

.pageImage {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

ul {
  margin-top: 0 !important;
}

//for any list
li::marker {
  color: variables.$secondary_blue;
}

li {
  color: #000;
}

//CTA Buttons
.button {
  margin: 0 auto;
  border: 2px solid variables.$primary_blue;
  border-radius: 10px;
  padding: 8px 16px;
  max-width: fit-content;
  transition: all .1s ease-in;
  &:hover, &:active {
    cursor: pointer;
    border-color: variables.$primary_blue_hover;
  }
}

.primary {
  background-color: variables.$primary_blue;
  color: #fff;
  &:hover {
    background-color: variables.$primary_blue_hover;
    color: variables.$secondary_hover;
  }
  &:active {
    background-color: variables.$primary_blue_click;
  }
}

.secondary{
    background-color: #fff;
    color: #000;
    &:hover {
      background-color: variables.$secondary_hover;
    }
    &:active {
      background-color: variables.$secondary_click;
    }
}

//to keep consistent per page
.mainContainer {
  min-height: 100vh;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 0;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sbsContainer {
  width: 100%; //100% of mainContainer
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sbsText {
  width: 520px;
  // flex-basis: 520px;
  flex-shrink: 0;
}

.about-section {
  width:800px;
  text-align: center;
}

input[type=text], input[type=email] { //test force override
  width: 100% !important; //of the form container
  height: 2rem !important;
  border-color: #333 !important;
  border-radius: 8px !important;
  &:hover {
      border-color: variables.$primary_blue_hover !important;
    }
  
  &:focus {
  border-color: variables.$primary_blue !important;
  }
}

#mobile-nav-button {
  float: right;
  display: none;
  color: white;
  background-color: variables.$primary_blue;
  border: 2px solid variables.$secondary_blue;
  border-radius: 10px;
  &:hover, &:active {
    border-color: variables.$primary_blue_click;
    background-color: variables.$primary_blue_click;
    color: lightgray;
  }
}

#mobile-sidenav {
  z-index: 3;
  height: calc(100vh - 78px);
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  // top: 0; /* Stay at the top */
  // left: 0;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#close-nav-button {
  float: right;
  margin-right: 1rem;
  color: #333;
  background-color: #fff;
  border: 2px solid #555;
  border-radius: 10px;
  &:hover, &:active {
      background-color: gray;
    }
}

#sidenav-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  transition: 0.5s; //for fade out
  width: 100vw;
}

.nav-item {
  margin: 0;
  font-size: 14pt;
}

.service-item {
  margin-left: 2rem;
}

.sidenav-icon {
  margin-right: 1rem;
}

@media (max-width: 428px){
  .nav-container {
    justify-content: space-between;
  }

  .nav-item{
    &:hover, &:active, &.active {
      color: variables.$primary_blue;
    }
  }

  #mobile-nav-button {
    display: block;
    margin-right: 1rem;
  }

  #desktop-wrapper {
    display: none;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  .mainContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sbsContainer {
    flex-direction: column;
    text-align: center;
  }

  .sbsText {
    width: unset;
  }

  .about-section {
    width: unset;
  }
}