@use 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

footer {
  background-color: variables.$secondary_blue;
  width: 100vw;
  height: fit-content;
  padding: 1rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  & > p {
    margin: 0;
  }
}

h1 {
  text-align: center;
}

h2 {
  color: variables.$primary_blue;
  text-align: center;
}

//NAVBAR STYLING
.nav-container {
  height: 78px;
  width: 100vw;
  background-color: variables.$primary_blue;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  top: 0px;
}

.nav-logo {
  padding-left: 1rem;
}

.nav-logo:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.nav-item {
  transition: all .5s ease-in;
  padding: 10px 10px;
  color: #fff;
  margin: 0 1rem;
  border: none;
  height: fit-content;
  align-content: center;
  text-decoration: none;
  &:hover, &:active, &.active {
    text-decoration: underline solid #fff 2px;
  }
}

.dropdown-main {
  border: none;
  border-radius: 10px;
  align-items: center;
  padding: 10px 10px;
  color: #fff;
  margin: 0 1rem;
  height: fit-content;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-item {
  list-style: none !important;
  margin: 0 !important;
  & > .active {
    font-weight: bold;
  }
}

.dropdown-item:nth-child(odd){
  border-bottom: 1px solid #cccccc;
}

.dropdown-item:nth-child(even){
  border-top: 1px solid #cccccc;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.imgContainer {
  flex-shrink: 1;
}

.pageImage {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

ul {
  margin-top: 0 !important;
}

//for any list
li::marker {
  color: variables.$secondary_blue;
}

li {
  color: #000;
}

//CTA Buttons
.button {
  margin: 0 auto;
  border: 2px solid variables.$primary_blue;
  border-radius: 10px;
  padding: 8px 16px;
  max-width: fit-content;
  transition: all .1s ease-in;
  &:hover, &:active {
    cursor: pointer;
    border-color: variables.$primary_blue_hover;
  }
}

.primary {
  background-color: variables.$primary_blue;
  color: #fff;
  &:hover {
    background-color: variables.$primary_blue_hover;
    color: variables.$secondary_hover;
  }
  &:active {
    background-color: variables.$primary_blue_click;
  }
}

.secondary{
    background-color: #fff;
    color: #000;
    &:hover {
      background-color: variables.$secondary_hover;
    }
    &:active {
      background-color: variables.$secondary_click;
    }
}

//to keep consistent per page
.mainContainer {
  min-height: 100vh;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 0;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sbsContainer {
  width: 100%; //100% of mainContainer
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sbsText {
  width: 520px;
  // flex-basis: 520px;
  flex-shrink: 0;
}

input[type=text], input[type=email] { //test force override
  width: 100% !important; //of the form container
  height: 2rem !important;
  border-color: #333 !important;
  border-radius: 8px !important;
  &:hover {
      border-color: variables.$primary_blue_hover !important;
    }
  
  &:focus {
  border-color: variables.$primary_blue !important;
  }
}