@use 'variables';

.bullet {
  color: variables.$secondary_blue;
}

.logo {
  margin-top: 1.5rem;
}
  
.sub {
  font-family: 'Inika';
  font-size: 30pt;
  font-weight: normal !important;
}

.tagline {
  margin-top: 0.75rem;
  font-size: 24px;
  color: variables.$primary_blue;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 428px) {
  .closer {
    text-align: center;
  }

  .logo {
    margin-top: 0;
    scale: 0.5;
  }
  
  .sub {
    margin: 0;
    font-size: 22pt;
    margin-top: -2.5rem;
  }
  
  .tagline {
    margin-top: 0.5rem;
    font-size: 18px;
    text-align: center;
  }
}
