@use 'variables';

.bullet {
  color: variables.$secondary_blue;
}

.logo {
  height: 1em;
}

.sub {
  font-family: 'Inika';
  font-size: 30pt;
  font-weight: normal !important;
}

.tagline {
  margin-top: 0.75rem;
  font-size: 26px;
  color: variables.$primary_blue;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
